.grid {
	display: grid;
	grid-template-columns: 1fr 114rem 1fr;
	grid-gap: 2rem;
	grid-template-areas:
		"	header		header		header	"
		"	.			cards		.		"
		"	.			show-more	.		"
		"	feedback	feedback	feedback"
		"	.			contacts	.		"
		"	footer		footer		footer	";

	& .header {
		grid-area: header;
		background-image: linear-gradient(175deg, rgba($color-body, .8) 0%, $color-body 80%, $color-body 100%), url(../img/hero.jpg);
		background-size: cover;
	}

	& .cards {
		grid-area: cards;
	}

	& .show-more {
		grid-area: show-more;
	}

	& .feedback {
		grid-area: feedback;
	}

	& .contacts {
		grid-area: contacts;
	}

	& .footer {
		grid-area: footer;
	}
}