:root {
    --color-primary: #00e0d0;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



html {

    font-size: 62.5%;
    color: #333;

    /* // 1800px
    @media (min-width: 112.5em) {
        font-size: 68.75%;
    }
    // 1200px
    @media (max-width: 75em) {
        font-size: 56.25%;
    }
    // 900px
    @media (max-width: 56.25em) {
        font-size: 50%;
    }
    // 600px
    @media (max-width: 37.5em) {
        font-size: 43.75%;
    } */
}

body {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    //FON
    /* background-image: linear-gradient(rgba(255, 255, 255, .5)), url(../img/tajem_master.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center 0;
    height: 540rem; */
}

a:link,
a:visited {
    text-decoration: none;
}

h1 {
    font-family: 'Playfair Display', serif;
}

h2 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}

.row {
    max-width: 96rem;
    margin: 0 auto;
}

.sub-heading {
    margin-top: 1rem;
    font-size: 1.7rem;
    display: inline-block;
    text-align: center;
    padding: 0 2rem;

    &::after {
        content: "";
        display: block;
        margin: 1.5rem auto 0;
        width: 5rem;
        height: .2rem;
        background-color: #ccc;
    }

    &_white {
        color: #f7f7f7;
    }
}

.color-white {
    color: #f7f7f7;
}