:root {
    --color-primary: #00e0d0;
    --color-primary-image: linear-gradient(to right, #00e0d0, #4aa3cc);
    --color-primary-opacity: rgba(0, 224, 209, 0.4);
    --color-white: #f7f7f7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    @include respond(tab-land) {
        font-size: 56.25%;                   //1rem = 9px, 9/16 = 56.25%
    }

    @include respond(tab-port) {
        font-size: 50%;                      //1rem = 8px, 8/16 = 50%
    }

    @include respond(phone) {
        font-size: 43.75%;                   //1rem = 7px, 7/16 = 43.75%
    }

    @include respond(big-desktop) {
        font-size: 75%;                      //1rem = 12px, 8/16 = 75%
    }
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    //FON
    background-image: linear-gradient(rgba(255, 255, 255, .5)), url(../img/tajem_master.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 640rem;
}


.row {
    max-width: 114rem;
    margin: 0 auto;
}