.header {
    display: grid;
    grid-template-columns: 1fr 114rem 1fr;
    grid-gap: 2rem;
    grid-template-areas:
        "	menu	menu	    menu    "
        "	.	    h1	        .	    "
        "	.	    h2	        .	    "
        "	.	    search	    .	    "
        "	.	    example	    .	    "
        "	.	    sorting	    .	    ";
    grid-template-rows: repeat(auto-fit, min-content);

    & .menu {
        grid-area: menu;
    }

    & h1 {
        grid-area: h1;
        align-self: end;
    }

    & h2 {
        grid-area: h2;
    }

    & .search {
        grid-area: search;
    }

    & .example {
        grid-area: example;
    }

    & .sorting {
        grid-area: sorting;
    }
}