.header {
    display: grid;
    grid-template-columns: 1fr 62vw 1fr;
    grid-gap: 1rem 2rem;
    grid-template-areas:
        "	logo	menu	    menu    "
        "	logo	h1	        .	    "
        "	.	    h2	        .	    "
        "	.	    search	    .	    "
        "	.	    example	    .	    "
        "	.	    sorting	    .	    ";
    grid-template-rows: 7vh min-content repeat(auto-fit, min-content);

    // 1100px
    @media (max-width: 75em) {
        grid-template-areas:
            "	.	    logo	    .	    "
            "	.	    menu	    .	    "
            "	.	    h1	        .	    "
            "	.	    h2	        .	    "
            "	.	    search	    .	    "
            "	.	    example	    .	    "
            "	.	    sorting	    .	    ";
        grid-template-columns: 1fr 85vw 1fr;
    }

    & .logo {
        grid-area: logo;
    }

    & .menu {
        grid-area: menu;
    }

    & h1 {
        grid-area: h1;
        align-self: end;
    }

    & h2 {
        grid-area: h2;
    }

    & .search {
        grid-area: search;
    }

    & .example {
        grid-area: example;
    }

    & .sorting {
        grid-area: sorting;
    }
}