.menu {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	padding: 3rem 0 0 3rem;

	& .logo {
		width: 13rem;

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			display: block;
		}
	}

	& .nav {
		justify-self: end;

		& ul {
			display: grid;
			grid-template-columns: repeat(3, max-content);
			grid-column-gap: 3rem;
			justify-content: space-around;

			list-style: none;
			padding: 0 3rem 2rem 3rem;
			border-bottom: 2px solid $color-text-dark;
			font-size: calc((100vw - 32rem)/(192 - 32) * (2 - 1.8) + 1.8rem);
		}
	}
}