.search {
    & input {
        width: 100%;
        padding: 1.8rem 3rem;
        font-size: calc((100vw - 32rem)/(192 - 32) * (3.5 - 2) + 2rem);
        font-family: inherit;
        font-weight: inherit;
        border: none;
        outline: none;
        background-color: #eeeeee;
        color: rgba($color-item, .5);

        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
            display: none;
        }

        &::-webkit-input-placeholder {
            color: rgba($color-item, .5);
        }
    }
}