.sorting {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    // justify-items: center;
    font-size: 1.6rem;




    & P {
        flex-grow: 1;
        // grid-area: p;
        padding: 1rem 2rem;
        justify-self: start;

        @media (max-width: 37.5em) {
            justify-self: stretch;
            padding: 0;
            text-align: center;
            font-size: 2rem;
        }
    }

    & select {
        // grid-area: select;
        background: none;
        padding: 1rem 2rem;
        font-size: 1.6rem;
        color: var(--color-primary);
        border: 2px solid $color-text-dark;
        outline: none;
        text-align: center;
        justify-self: end;

        // 500px
        @media (max-width: 37.5em) {
            justify-self: stretch;
        }
    }

    // 500px
    @media (max-width: 37.5em) {
        grid-template-columns: 1fr;
        grid-gap: 3rem;
        justify-self: stretch;
    }
}