.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 2rem;

    div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 3rem;
        margin: 0 auto;

        img {
            width: 5rem;
        }

        span {
            font-size: 3rem;
            font-weight: 400;
            background-image: var(--color-primary-image);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            margin-left: 1rem;
        }
    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        align-self: stretch;
        flex-wrap: wrap;
        flex: 1 1 auto;
        padding: 0 3rem;

        @media screen and (max-width: 883px) {
            justify-content: center;
        }

        li {
            padding: 1rem 0;

            &:not(:last-child) {
                margin-right: 3rem;
            }

            a:link,
            a:visited {
                font-size: 1.5rem;
                text-decoration: none;
                color: var(--color-white);
                font-weight: 600;
                text-transform: uppercase;
                border-bottom: .2rem solid transparent;
                padding-bottom: .3rem;
                transition: all .2s;

                &:hover {
                    border-bottom: .2rem solid var(--color-primary);
                }

            }

            a:active {
                color: var(--color-primary);
            }
        }
    }
}