.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem;

    div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex: 1 1 auto;

        img {
            width: 5rem;
        }

        span {
            font-size: 3rem;
            font-weight: 400;
            background-image: var(--color-primary-image);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            margin-left: 1rem;
        }
    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        li {
            padding: 1rem 0;

            &:not(:last-child) {
                margin-right: 3rem;
            }

            a:link,
            a:visited {
                font-size: 1.5rem;
                text-decoration: none;
                color: var(--color-white);
                font-weight: 600;
                text-transform: uppercase;
                border-bottom: .2rem solid transparent;
                padding-bottom: .3rem;
                transition: all .2s;

                &:hover {
                    border-bottom: .2rem solid var(--color-primary);
                }

            }

            a:active {
                color: var(--color-primary);
            }
        }
    }
}

.nav-btn {
    width: 5rem;
    height: 5rem;
    background-color: #555;
    border-radius: 50%;
    padding: 1rem;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    left: 1rem;
    top: 1rem;
    visibility: hidden;
    transform: scale(0);
    opacity: 0;
    transition: all .3s;
}