.heading {
    color: #fff;

    &__h1 {
        font-size: 4rem;
    }

    &__h2 {
        font-size: 3rem;
    }

    &__h3 {
        font-size: 2px;
    }
}

.margin-bottom-5 {
    margin-bottom: 5rem;
}

.margin-bottom-6 {
    margin-bottom: 6rem;
}