.menu {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	padding: 3rem 0 0 3rem;

	& .logo {
		width: 13rem;

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			display: block;
		}
	}

	& .nav {
		justify-self: end;

		& ul {
			display: grid;
			grid-template-columns: repeat(3, max-content);
			grid-column-gap: 3rem;
			justify-content: space-around;

			list-style: none;
			padding: 0 3rem 3rem 10rem;
			font-size: 2rem;
		}

		&__line {
			height: 2px;
			width: 100%;
			background-image: linear-gradient(90deg, transparent 0%, $color-text-dark 100%);
		}
	}
}