.btn-wrapper {
    background-image: var(--border);
    padding: 2px;
}

.btn,
.btn:visited {
    background-color: var(--card-color);
    width: 100%;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-primary);
    font-weight: 600;
}