:root {
    --body-color: #0a0a0c;
    --header-color: rgba(10, 10, 12, 0.5);
    --color-primary: #c4b998;
    --border-color: linear-gradient(#c3a758, #6b521e);
    --card-color: #111318;
    --price-color: #937341;

    --heading-2: 2.6rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    /* background-color: #0a0a0c;
    font-family: "Roboto", sans-serif;
    color: var(--color-primary);
    font-size: 1.6rem;
    line-height: 1.3; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1)), url(/img/Frame.png);
    background-size: cover;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 114rem 1fr;
    grid-template-rows: calc(76vh - 28rem) 26.5rem 26.5rem 26.5rem 26.5rem;
    grid-gap: 5rem;
}

header {
    grid-column: 1/4;
    grid-row: 1/3;
    background-image: linear-gradient(173deg, var(--heder-color) 0%, var(--body-color) 77%, var(--body-color) 100%), url(/img/hero.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 55vh, 0 100%);
    // background-image: linear-gradient(105deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 50%, transparent 50%),url(../img/nat-10.jpg);
}