.header {
    position: relative;
    height: 85vh;
    background-image: linear-gradient(to right, rgba(9, 5, 47, 0.7), rgba(49, 29, 94, 0.7)), url(../img/hero.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}





// SECTION HEADER

.section-header {
    max-width: 90rem;
    margin: auto;
    margin-top: 17rem;
    text-align: center;

    div {

        h1 {
            color: var(--color-white);
            margin-bottom: 5.5rem;
            font-weight: 500;
        }
    }

    p {
        color: var(--color-white);
        line-height: 1.5;
        font-weight: 400;
        margin-bottom: 6rem;
    }
}

h1 {
    font-size: 200%;
}