.header {
    position: relative;
    height: 67rem;
    min-height: max-content;
    background-image: linear-gradient(to right, rgba(9, 5, 47, 0.7), rgba(49, 29, 94, 0.7)), url(../img/hero.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 1.5rem;
}


// SECTION HEADER

.section-header {
    max-width: 78rem;
    margin: auto;
    margin-top: 15rem;
    text-align: center;


    div {

        h1 {
            color: var(--color-white);
            font-weight: 600;
            
        }
    }

    p {
        color: var(--color-white);
        font-weight: 300;
        line-height: 1.7;
        margin: 4.3rem 0 4.5rem;
    }
}