// 1200px
@media (max-width: 75em) {
    .grid {
        grid-template-columns: 1fr 92rem 1fr;
    }

    .header {
        grid-template-columns: 1fr 92rem 1fr;

        & .heading-1 {
            font-size: 4rem;
        }

        & .heading-2 {
            font-size: 2.5rem;
        }
    }

    .card {
        grid-template-columns: 35rem 1fr;
        grid-template-rows: 20rem;
    }

    .feedback {
        grid-template-columns: 1fr 92rem 1fr;
    }
}



// 1000px
@media (max-width: 62.5em) {
    .grid {
        grid-template-columns: 1fr 76rem 1fr;
    }

    .header {
        grid-template-columns: 1fr 76rem 1fr;

        & .heading-1 {
            font-size: 3.7rem;
        }

        & .heading-2 {
            font-size: 2.2rem;
        }
    }

    .card {
        grid-template-columns: 29rem 1fr;
        grid-template-rows: 16rem;
    }

    .feedback {
        grid-template-columns: 1fr 76rem 1fr;
    }
}



// 900px
@media (max-width: 56.25em) {
    .grid {
        grid-template-columns: 1fr 64rem 1fr;
    }

    .header {
        grid-template-columns: 1fr 64rem 1fr;
        grid-template-areas:
            "	.	    menu	    .       "
            "	.	    h1	        .	    "
            "	.	    h2	        .	    "
            "	.	    search	    .	    "
            "	.	    example	    .	    "
            "	.	    sorting	    .	    ";

        & .heading-1 {
            font-size: 3rem;
        }

        & .heading-2 {
            font-size: 2rem;
        }
    }

    .menu {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        padding: 2rem 0 0 3rem;
        grid-row-gap: 4rem;

        & .nav {
            justify-self: stretch;
            align-self: center;

            & ul {
                padding: 0 0 2rem 0;
            }

            &__line {
                background-image: linear-gradient(90deg, transparent 0%, $color-text-dark 50%, transparent 100%);
            }
        }

        & .logo {
            width: 11.5rem;
        }

    }

    .cards {
        grid-template-columns: 31rem 31rem;
    }

    .card {
        grid-template-areas:
            "photo"
            "info";
        grid-template-columns: 1fr;
        grid-template-rows: 17.5rem 31rem;
    }

    .card__info {
        grid-template-areas:
            "name	        name	        provider	"
            "description	description	    description	"
            "price	        buy	            buy	        "
            "price	        basket	        basket	";
    }

    .feedback {
        grid-template-columns: 1fr 64rem 1fr;

        & .form {
            grid-template-areas:
                "	heading	    "
                "	name	    "
                "	phone	    "
                "	email	    "
                "	message	    "
                "	radio	    "
                "	btn	        "
                "	top-secret	";

            &__top-secret {
                align-items: center;
            }
        }
    }

    .contacts {

        &__bottom {

            &-1 {
                font-size: 1.8rem;
                font-weight: 400;
            }

            &-2 {
                font-size: 1.5rem;
            }

            &-3 {
                font-size: 1.8rem;
                font-weight: 400;
            }
        }
    }
}

// 700px
@media (max-width: 43.75em) {
    .grid {
        grid-template-columns: 1fr 40rem 1fr;
    }

    .header {
        grid-template-columns: 1fr 40rem 1fr;

        & .heading-1 {
            font-size: 3rem;
        }

        & .heading-2 {
            font-size: 1.8rem;
        }
    }

    .sorting {
        justify-self: center;

        & p {
            justify-self: center;
        }

        & select {
            justify-self: center;
        }
    }

    .cards {
        grid-template-columns: 40rem;
        justify-content: center;
    }

    .card {
        grid-template-rows: 22.5rem 30rem;
    }

    .feedback {
        grid-template-columns: 1fr 40rem 1fr;

        & .form {
            padding: 3rem;
        }
    }

    .contacts {
        grid-template-columns: 1fr;
        grid-row-gap: 5rem;
    }
}

// 500px
@media (max-width: 31.25em) {
    .grid {
        grid-template-columns: 1fr 28rem 1fr;
        grid-column-gap: 0;
    }

    .header {
        grid-template-columns: 1fr 28rem 1fr;
        grid-column-gap: 0;

        & .menu {
            padding: 3rem 0 0 0;

            & ul {
                grid-gap: 0;
                justify-items: center;
                padding: 0 0 2rem 0;
                font-size: 1.8rem;
            }
        }

        & .heading-1 {
            font-size: 2.4rem;
        }

        & .heading-2 {
            font-size: 1.4rem;
        }
    }

    .cards {
        grid-template-columns: 28rem;
    }

    .feedback {
        grid-template-columns: 1fr 28rem 1fr;

        & .form {
            padding: 1rem;

            &__top-secret {
                grid-template-columns: 25rem;
                justify-items: center;
                text-align: center;

                & img {
                    width: 10rem;
                }
            }
        }
    }

    h2 {
        font-size: 2.5rem;
    }
}

// 320px
@media (max-width: 20em) {
    .grid {
        grid-template-columns: 1fr 25rem 1fr;
    }

    .header {
        grid-template-columns: 1fr 25rem 1fr;

        & .sorting {
            & select {
                padding: 1rem .5rem;
            }
        }

        & .heading-1 {
            font-size: 2.1rem;
        }

        & .heading-2 {
            font-size: 1.3rem;
        }
    }

    .cards {
        grid-template-columns: 25rem;
    }

    .feedback {
        grid-template-columns: 1fr 25rem 1fr;

        & .form {

            &__top-secret {
                grid-template-columns: 23rem;
            }
        }
    }
}