.btn {
    background-image: $btn-border;
    padding: 1px;
    width: 100%;

    & a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: $color-item;
        text-transform: uppercase;
        padding: .5vw 3vw;
        white-space: nowrap;
    }
}