.form-client {
    padding: 5.5rem 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 98rem;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    flex: 0 0 46rem;
    margin-right: auto;
    margin-bottom: 3rem;
    padding-right: 3rem;

    @media screen and (max-width: 900px) {
        margin: 0 auto 3rem;
    }

    h2 {
        margin-bottom: 3rem;
    }

    form {
        width: 100%;

        input {
            padding: 1rem 2rem;
            width: 100%;
            margin-bottom: .5rem;
        }
    
        label {
            font-size: 1.2rem;
            font-weight: 400;
            color: #777;
            display: block;
            margin-left: 2.1rem;
            transition: all .3s;
            margin-bottom: 1.2rem;
        }
    
        input:placeholder-shown + label {
            transform: translateY(-3.4rem);
            visibility: hidden;
            opacity: 0;
        }
    
        textarea {
            width: 100%;
            min-height: 18rem;
            padding: 1rem 2rem;
            margin-bottom: .5rem;
            font-family: inherit;
            font-size: inherit;
        }
    
        textarea:placeholder-shown + label {
            transform: translateY(-19.3rem);
            visibility: hidden;
            opacity: 0;
        }
    }
}

.clients {
    flex: 0 0 38rem;

    &__box {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1.3rem;
    }

    &__logo {
        flex: 1 0 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 7.5rem;
        margin-bottom: 2rem;

        /* background-color: tomato;
        border: 1px solid; */
    }
}