.contacts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 5rem 0;

    &__item {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
        justify-items: center;
    }

    &__bottom {
        display: grid;
        grid-row-gap: .7rem;
        text-align: center;

        &-1 {
            font-size: 2rem;
            font-weight: 400;
        }

        &-2 {
            font-size: 1.8rem;
        }

        &-3 {
            font-size: 2rem;
            font-weight: 400;
        }
    }
}